import starsim as ss
import matplotlib
matplotlib.use('Agg')
import json
import numpy as np

pars = dict(
    n_agents={{ n_agents }},
    networks=dict(type='random', n_contacts={{ n_contacts }}),
    diseases=dict(
        type='sir',
        init_prev={{ init_prev }},
        beta={{ beta }},
        dur_inf=ss.constant({{ dur_inf }}),
        p_death={{ p_death }},
    ),
    dur={{ sim_dur_years }},
    dt=1/365,
)

{% if vax_start_day <= 0 %}
# Pre-existing vaccination: initialize sim then set vaccinated individuals as immune
sim = ss.Sim(pars, verbose=0)
sim.init()
sir_mod = sim.diseases['sir']
sus_uids = sir_mod.susceptible.uids
n_vax = int({{ vax_coverage }} * len(sus_uids))
rng = np.random.default_rng()
vax_uids = rng.choice(sus_uids, size=n_vax, replace=False) if n_vax > 0 else np.array([], dtype=int)
sir_mod.susceptible[ss.uids(vax_uids)] = False
sir_mod.recovered[ss.uids(vax_uids)] = True
sim.run()
{% else %}
# Ongoing vaccination campaign starting at day {{ vax_start_day }}
product = ss.simple_vx(efficacy=1.0)
vax_start_year = 2000 + {{ vax_start_day }} / 365
vax = ss.routine_vx(
    product=product,
    prob={{ vax_coverage }},
    start_year=vax_start_year,
)
pars['interventions'] = [vax]
sim = ss.Sim(pars, verbose=0)
sim.run()
{% endif %}

res = sim.results
sir = res['sir']

n_infected = sir['n_infected'].values
cum_infections = sir['cum_infections'].values
cum_deaths = res['cum_deaths'].values if 'cum_deaths' in res else np.zeros(len(res['timevec']))

import matplotlib.pyplot as plt

_dis_key = list(sim.diseases.keys())[0]
_dr = sim.results[_dis_key]
_rs = sim.results
_days = np.arange(len(_rs['timevec']))

fig, axes = plt.subplots(3, 3, figsize=(15, 10))
_ax = axes.flatten()

# (0,0) All compartments overview
for _k, _c, _l in [
    ('n_susceptible',  'steelblue',  'Susceptible'),
    ('n_exposed',      'gold',       'Exposed'),
    ('n_infected',     'firebrick',  'Infectious'),
    ('n_asymptomatic', 'darkorange', 'Asymptomatic'),
    ('n_recovered',    'seagreen',   'Recovered'),
]:
    if _k in _dr:
        _ax[0].plot(_days, _dr[_k].values, color=_c, label=_l)
_ax[0].set_title('All compartments')
_ax[0].set_xlabel('Day')
_ax[0].legend(fontsize=7)

# (0,1) Susceptible
_ax[1].set_title('Susceptible')
_ax[1].set_xlabel('Day')
if 'n_susceptible' in _dr:
    _ax[1].plot(_days, _dr['n_susceptible'].values, color='steelblue')

# (0,2) Infectious
_ax[2].set_title('Infectious')
_ax[2].set_xlabel('Day')
if 'n_infected' in _dr:
    _ax[2].plot(_days, _dr['n_infected'].values, color='firebrick')

# (1,0) Recovered
_ax[3].set_title('Recovered')
_ax[3].set_xlabel('Day')
if 'n_recovered' in _dr:
    _ax[3].plot(_days, _dr['n_recovered'].values, color='seagreen')

# (1,1) Prevalence
_ax[4].set_title('Prevalence (%)')
_ax[4].set_xlabel('Day')
if 'prevalence' in _dr:
    _ax[4].plot(_days, _dr['prevalence'].values * 100, color='firebrick')

# (1,2) New infections per day
_ax[5].set_title('New infections / day')
_ax[5].set_xlabel('Day')
if 'new_infections' in _dr:
    _ax[5].plot(_days, _dr['new_infections'].values, color='steelblue')

# (2,0) Cumulative infections
_ax[6].set_title('Cumulative infections')
_ax[6].set_xlabel('Day')
if 'cum_infections' in _dr:
    _ax[6].plot(_days, _dr['cum_infections'].values, color='steelblue')

# (2,1) New deaths per day
_ax[7].set_title('New deaths / day')
_ax[7].set_xlabel('Day')
if 'new_deaths' in _rs:
    _ax[7].plot(_days, _rs['new_deaths'].values, color='darkred')

# (2,2) Cumulative deaths
_ax[8].set_title('Cumulative deaths')
_ax[8].set_xlabel('Day')
if 'cum_deaths' in _rs:
    _ax[8].plot(_days, _rs['cum_deaths'].values, color='darkred')

fig.suptitle(_dis_key.upper() + ' Simulation', fontsize=13, y=1.01)
fig.tight_layout()
fig.savefig(r'{{ output_path }}', dpi=150, bbox_inches='tight')
plt.close(fig)

peak_infections = int(n_infected.max())
peak_day = int(n_infected.argmax())
total_infected = int(cum_infections[-1])
total_deaths = int(cum_deaths[-1])

print(json.dumps({
    'peak_infections': peak_infections,
    'peak_day': peak_day,
    'total_infected': total_infected,
    'total_deaths': total_deaths,
    'n_agents': {{ n_agents }},
    'sim_days': len(res['timevec']),
    'vax_coverage': {{ vax_coverage }},
}))
