import starsim as ss
import matplotlib
matplotlib.use('Agg')
import json
import numpy as np

pars = dict(
    n_agents={{ n_agents }},
    networks=dict(type='random', n_contacts={{ n_contacts }}),
    diseases=dict(
        type='sir',
        init_prev={{ init_prev }},
        beta={{ beta }},
        dur_inf=ss.constant({{ dur_inf }}),
        p_death={{ p_death }},
    ),
    dur={{ sim_dur_years }},
    dt=1/365,
)

{% if vax_start_day <= 0 %}
# Pre-existing vaccination: initialize sim then set vaccinated individuals as immune
sim = ss.Sim(pars, verbose=0)
sim.init()
sir_mod = sim.diseases['sir']
sus_uids = sir_mod.susceptible.uids
n_vax = int({{ vax_coverage }} * len(sus_uids))
rng = np.random.default_rng()
vax_uids = rng.choice(sus_uids, size=n_vax, replace=False) if n_vax > 0 else np.array([], dtype=int)
sir_mod.susceptible[vax_uids] = False
sir_mod.recovered[vax_uids] = True
sim.run()
{% else %}
# Ongoing vaccination campaign starting at day {{ vax_start_day }}
product = ss.simple_vx(efficacy=1.0)
vax_start_year = 2000 + {{ vax_start_day }} / 365
vax = ss.routine_vx(
    product=product,
    prob={{ vax_coverage }},
    start_year=vax_start_year,
)
pars['interventions'] = [vax]
sim = ss.Sim(pars, verbose=0)
sim.run()
{% endif %}

res = sim.results
sir = res['sir']

n_infected = sir['n_infected'].values
cum_infections = sir['cum_infections'].values
cum_deaths = res['cum_deaths'].values

import matplotlib.pyplot as plt
_days = np.arange(len(n_infected))
fig, (ax1, ax2) = plt.subplots(1, 2, figsize=(12, 4))
for _key, _color, _lbl in [
    ('n_susceptible', 'steelblue', 'Susceptible'),
    ('n_infected',    'firebrick', 'Infectious'),
    ('n_recovered',   'seagreen',  'Recovered'),
]:
    if _key in sir:
        ax1.plot(_days, sir[_key].values, color=_color, label=_lbl)
ax1.set_xlabel('Day')
ax1.set_ylabel('Count')
ax1.set_title('SIR Compartments')
ax1.legend()
ax2.plot(_days, cum_infections, color='steelblue', label='Cumulative infections')
ax2.plot(_days, cum_deaths,     color='firebrick', label='Cumulative deaths')
ax2.set_xlabel('Day')
ax2.set_ylabel('Count')
ax2.set_title('Cumulative')
ax2.legend()
fig.tight_layout()
fig.savefig(r'{{ output_path }}', dpi=150, bbox_inches='tight')
plt.close(fig)

peak_infections = int(n_infected.max())
peak_day = int(n_infected.argmax())
total_infected = int(cum_infections[-1])
total_deaths = int(cum_deaths[-1])

print(json.dumps({
    'peak_infections': peak_infections,
    'peak_day': peak_day,
    'total_infected': total_infected,
    'total_deaths': total_deaths,
    'n_agents': {{ n_agents }},
    'sim_days': len(res['timevec']),
    'vax_coverage': {{ vax_coverage }},
}))
